# import libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# aggregate outflow data

### 2008-2010 data: using csv formats

In [2]:
bayArea = pd.read_csv('/Users/kaitlynhom/Downloads/migration_project/bayareafips.csv')

In [3]:
bayArea=bayArea.sort_values(['fips'], ascending=[True])

In [4]:
bayArea

    fips                  name  code
0   6001        Alameda County     1
1   6013   Contra Costa County    13
2   6041          Marin County    41
3   6047         Merced County    47
4   6055           Napa County    55
5   6069     San Benito County    69
6   6075  San Francisco County    75
7   6077    San Joaquin County    77
8   6081      San Mateo County    81
9   6085    Santa Clara County    85
10  6087     Santa Cruz County    87
11  6095         Solano County    95
12  6097         Sonoma County    97
13  6099     Stanislaus County    99

In [5]:
#create list of fips numbers to use to filter datasets
fips_list=bayArea.fips.to_list()
code_list=bayArea.code.to_list()
name_list=bayArea.name.to_list()

In [6]:
code_list

[1, 13, 41, 47, 55, 69, 75, 77, 81, 85, 87, 95, 97, 99]

In [7]:
bayArea.set_index("fips", inplace = True)

In [208]:
def process_irs_outflow(df):
    df = df[df.State_Code_Origin == 6]
    df = df[df.State_Code_Dest == 6]


    #filter out non migrants unneded data
    df=df[df["County_Name"].str.contains("Tot Mig|Non-Mig|Total Mig|Other Flows|Foreign")==False]

    #filter out non bay area counties
    df=df.loc[df.County_Code_Origin.isin(code_list)]
    df=df.loc[df.County_Code_Dest.isin(code_list)]
    
    df = df[df['County_Code_Origin'] != df['County_Code_Dest']]


    #aggregate outflows using groupby
    outflows=df.groupby(['County_Code_Origin']).sum()
    outflows=outflows.drop(columns=['County_Code_Dest','State_Code_Origin','State_Code_Dest'])

    outflows['Name']=name_list
    return outflows

In [209]:
outflow1011 = process_irs_outflow(pd.read_csv("/Users/kaitlynhom/Downloads/migration_project/county_data/county1011/countyoutflow1011.csv",encoding="cp1252"))
outflow0910 = process_irs_outflow(pd.read_csv('/Users/kaitlynhom/Downloads/migration_project/county_data/county0910/countyoutflow0910.csv',encoding="cp1252"))
outflow0809 = process_irs_outflow(pd.read_csv("/Users/kaitlynhom/Downloads/migration_project/county_data/county0809/countyoutflow0809.csv",encoding="cp1252"))

### 1993 - 2008 data using excel formats

df1 = pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9293/C9293Cao.xls')

df1.drop([0,1,2,3,4,5], inplace = True )
df1.drop(df1.columns[[4]], axis = 1, inplace = True)

df1.rename(columns={ df1.columns[0]: "State_Code_Origin" }, inplace = True)
df1.rename(columns={ df1.columns[1]: "County_Code_Origin" }, inplace = True)
df1.rename(columns={ df1.columns[2]: "State_Code_Dest" }, inplace = True)
df1.rename(columns={ df1.columns[3]: "County_Code_Dest" }, inplace = True)
df1.rename(columns={ df1.columns[4]: "County_Name" }, inplace = True)
df1.rename(columns={ df1.columns[5]: "Return_Num" }, inplace = True)
df1.rename(columns={ df1.columns[6]: "Exmpt_Num" }, inplace = True)
df1.rename(columns={ df1.columns[7]: "Aggr_AGI" }, inplace = True)

df1 = df1[df1.State_Code_Origin == '06']
df1 = df1[df1.State_Code_Dest =='06']

code_list_str = ['001', '013', '041', '047', '055', '069', '075', '077', '081', '085', '087', '095', '097', '099']


df1=df1[df1["County_Name"].str.contains("Tot Mig|Non-Mig|Total Mig|Other Flows|Foreign|Region|Non Mig|Same State|Surpress")==False]


df1 = df1[df1['County_Code_Origin'].isin(code_list_str)==True]
df1 = df1[df1['County_Code_Dest'].isin(code_list_str)==True]

df1 = df1[df1['County_Code_Origin'] != df1['County_Code_Dest']]
df1.drop(df1.columns[[0,2,3,4]], axis = 1, inplace = True)

df1.groupby(['County_Code_Origin']).sum()

df1.to_csv("/Users/kaitlynhom/Downloads/migration_project/df1.csv")

In [214]:
def process_irs_outflow_xls(df1):

    df1.drop([0,1,2,3,4,5], inplace = True )
    df1.drop(df1.columns[[4]], axis = 1, inplace = True)

    df1.rename(columns={ df1.columns[0]: "State_Code_Origin" }, inplace = True)
    df1.rename(columns={ df1.columns[1]: "County_Code_Origin" }, inplace = True)
    df1.rename(columns={ df1.columns[2]: "State_Code_Dest" }, inplace = True)
    df1.rename(columns={ df1.columns[3]: "County_Code_Dest" }, inplace = True)
    df1.rename(columns={ df1.columns[4]: "County_Name" }, inplace = True)
    df1.rename(columns={ df1.columns[5]: "Return_Num" }, inplace = True)
    df1.rename(columns={ df1.columns[6]: "Exmpt_Num" }, inplace = True)
    df1.rename(columns={ df1.columns[7]: "Aggr_AGI" }, inplace = True)

    df1 = df1[df1.State_Code_Origin == '06']
    df1 = df1[df1.State_Code_Dest =='06']

    code_list_str = ['001', '013', '041', '047', '055', '069', '075', '077', '081', '085', '087', '095', '097', '099']

    
    df1=df1[df1["County_Name"].str.contains("Tot Mig|Non-Mig|Total Mig|Other Flows|Foreign|Region|Non Mig|Same State|Surpress")==False]



    df1 = df1[df1['County_Code_Origin'].isin(code_list_str)==True]
    df1 = df1[df1['County_Code_Dest'].isin(code_list_str)==True]


    df1 = df1[df1['County_Code_Origin'] != df1['County_Code_Dest']]
    df1.drop(df1.columns[[0,2,3,4]], axis = 1, inplace = True)
    
    df1["Return_Num"] = df1["Return_Num"].astype(str).astype(int)
    df1["Exmpt_Num"] = df1["Exmpt_Num"].astype(str).astype(int)
    df1["Aggr_AGI"] = df1["Aggr_AGI"].astype(str).astype(int)



    outflow=df1.groupby(['County_Code_Origin']).sum()
    return outflow

In [223]:
code_list

[1, 13, 41, 47, 55, 69, 75, 77, 81, 85, 87, 95, 97, 99]

In [252]:
def process_irs_outflow_xls93(df1):

    df1.drop([0,1,2,3,4,5], inplace = True )
    df1.drop(df1.columns[[4]], axis = 1, inplace = True)

    df1.rename(columns={ df1.columns[0]: "State_Code_Origin" }, inplace = True)
    df1.rename(columns={ df1.columns[1]: "County_Code_Origin" }, inplace = True)
    df1.rename(columns={ df1.columns[2]: "State_Code_Dest" }, inplace = True)
    df1.rename(columns={ df1.columns[3]: "County_Code_Dest" }, inplace = True)
    df1.rename(columns={ df1.columns[4]: "County_Name" }, inplace = True)
    df1.rename(columns={ df1.columns[5]: "Return_Num" }, inplace = True)
    df1.rename(columns={ df1.columns[6]: "Exmpt_Num" }, inplace = True)
    df1.rename(columns={ df1.columns[7]: "Aggr_AGI" }, inplace = True)

    df1 = df1[df1.State_Code_Origin == 6]
    df1 = df1[df1.State_Code_Dest ==6]

    
    df1=df1[df1["County_Name"].str.contains("Tot Mig|Non-Mig|Total Mig|Other Flows|Foreign|Region|Non Mig|Same State|Surpress")==False]



    df1 = df1[df1['County_Code_Origin'].isin(code_list)==True]
    df1 = df1[df1['County_Code_Dest'].isin(code_list)==True]


    df1 = df1[df1['County_Code_Origin'] != df1['County_Code_Dest']]
    df1.drop(df1.columns[[0,2,3,4]], axis = 1, inplace = True)
    
    df1["Return_Num"] = df1["Return_Num"].astype(str).astype(int)
    df1["Exmpt_Num"] = df1["Exmpt_Num"].astype(str).astype(int)
    df1["Aggr_AGI"] = df1["Aggr_AGI"].astype(str).astype(int)



    outflow=df1.groupby(['County_Code_Origin']).sum()
    return outflow

In [253]:
outflow0708 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0708/co0708oCa.xls'))
outflow0607 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0607/co0607Cao.xls'))
outflow0506 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0506/co0506Cao.xls'))
outflow0405 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0405/co0405Cao.xls'))
outflow0304 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0304/co0304Cao.xls'))
outflow0203 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0203/co203cao.xls'))
outflow0102 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0102/co102cao.xls'))
outflow0001 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0001/co001caor.xls'))
outflow9900 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9900/co990Cao.xls'))
outflow9899 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9899/co989Cao.xls'))
outflow9798 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9798/co978cao.xls'))
outflow9697 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9697/co967cao.xls'))
outflow9596 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9596/co956caor.xls'))
outflow9495 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9495/co945cao.xls'))
outflow9394 = process_irs_outflow_xls93(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9394/co934cao.xls'))
outflow9293 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9293/C9293Cao.xls'))

In [254]:
outflow9394

                    Return_Num  Exmpt_Num  Aggr_AGI
County_Code_Origin
1                        19237      35007    707663
13                       10703      18644    393280
41                        4261       6669    161975
47                        1174       2749     25611
55                        1204       2162     34907
69                         407        977     11939
75                       17282      29177    656769
77                        3194       6714     88139
81                       12850      22924    474568
85                       15335      27693    616628
87                        2376       3830     86677
95                        3387       6787    105501
97                        2768       4509     76465
99                        2967       6813     77321

### compile exemptions into one csv file by year

In [255]:
totaloutflows = pd.DataFrame()

In [256]:
totaloutflows['Origin Code']=code_list
totaloutflows['Name'] = name_list

In [258]:
totaloutflows['1992-1993'] = outflow9293['Aggr_AGI'].values
totaloutflows['1993-1994'] = outflow9394['Aggr_AGI'].values
totaloutflows['1994-1995'] = outflow9495['Aggr_AGI'].values
totaloutflows['1995-1996'] = outflow9596['Aggr_AGI'].values
totaloutflows['1996-1997'] = outflow9697['Aggr_AGI'].values
totaloutflows['1997-1998'] = outflow9798['Aggr_AGI'].values
totaloutflows['1998-1999'] = outflow9899['Aggr_AGI'].values
totaloutflows['1999-2000'] = outflow9900['Aggr_AGI'].values
totaloutflows['2000-2001'] = outflow0001['Aggr_AGI'].values
totaloutflows['2001-2002'] = outflow0102['Aggr_AGI'].values
totaloutflows['2002-2003'] = outflow0203['Aggr_AGI'].values
totaloutflows['2003-2004'] = outflow0304['Aggr_AGI'].values
totaloutflows['2004-2005'] = outflow0405['Aggr_AGI'].values
totaloutflows['2005-2006'] = outflow0506['Aggr_AGI'].values
totaloutflows['2006-2007'] = outflow0607['Aggr_AGI'].values
totaloutflows['2007-2008'] = outflow0708['Aggr_AGI'].values
totaloutflows['2008-2009'] = outflow0809['Aggr_AGI'].values
totaloutflows['2009-2010'] = outflow0910['Aggr_AGI'].values
totaloutflows['2010-2011'] = outflow1011['Aggr_AGI'].values

In [259]:
totaloutflows

,Origin Code,Name,1992-1993,1993-1994,1994-1995,1995-1996,1996-1997,1997-1998,1998-1999,1999-2000,...,2001-2002,2002-2003,2003-2004,2004-2005,2005-2006,2006-2007,2007-2008,2008-2009,2009-2010,2010-2011
0,1,Alameda County,740785,707663,687231,721904,829595,968296,1106508,1321575,...,1488858,1377971,1392354,1505895,1367854,1269253,1318842,1217228,1329521,1295662
1,13,Contra Costa County,395614,393280,377245,407939,443975,544735,585738,842680,...,666518,715666,663861,671556,720431,637842,631415,653418,630386,675487
2,41,Marin County,155528,161975,163175,172467,192186,222931,253602,286877,...,250955,247068,250720,253402,278544,224555,223870,212713,203260,208182
3,47,Merced County,26603,25611,27329,28191,31561,36042,40407,44485,...,45939,49306,57583,69314,68502,66184,76950,80594,73264,66539
4,55,Napa County,36287,34907,36127,33568,44268,53844,66837,86140,...,68827,73630,85046,85506,84321,75572,68569,79632,79457,78909
5,69,San Benito County,11972,11939,11415,13477,12970,19409,23971,29301,...,32442,33761,41363,41800,42483,28199,28964,29602,28375,28630
6,75,San Francisco County,698328,656769,661711,657029,773711,869213,1000695,1397182,...,1309866,1189618,1191466,1186767,1292606,1086549,1200301,1227997,1234028,1204828
7,77,San Joaquin County,85083,88139,86910,95560,105092,109434,121310,136605,...,153234,163888,185924,225269,231126,228899,258721,275762,237346,233403
8,81,San Mateo County,486628,474568,477418,519439,623049,721155,841771,1144105,...,1018442,970577,956586,1000665,1080457,862924,883217,829334,875687,826100
9,85,Santa Clara County,624302,616628,621016,733024,917044,1123365,1358535,1773780,...,1588709,1238318,1197670,1244667,1285158,1103667,1235813,1170821,1175551,1174605
10,87,Santa Cruz County,74491,86677,71565,84484,93723,105637,110169,130625,...,118590,115575,131796,128944,145758,112794,111411,106162,92241,100713
11,95,Solano County,109849,105501,108323,108312,111634,122042,132506,144584,...,177848,184277,188205,199216,193228,183614,207484,212157,202259,196056
12,97,Sonoma County,73494,76465,79476,95043,94270,116588,143474,163381,...,147395,144064,147498,156866,153107,159816,147858,139783,132294,135551
13,99,Stanislaus County,70886,77321,79597,80230,88717,87830,97241,102586,...,113732,123400,144763,149571,155104,155904,186913,195535,172142,165405

In [260]:
totaloutflows.to_csv("/Users/kaitlynhom/Downloads/migration_project/aggregatedincomeoutflows.csv")

## aggregate inflow data

In [278]:
def process_irs_inflow(df):
    df = df[df.State_Code_Origin == 6]
    df = df[df.State_Code_Dest == 6]


    #filter out non migrants unneded data
    df=df[df["County_Name"].str.contains("Tot Mig|Non-Mig|Total Mig|Other Flows|Foreign")==False]

    #filter out non bay area counties
    df=df.loc[df.County_Code_Origin.isin(code_list)]
    df=df.loc[df.County_Code_Dest.isin(code_list)]
    
    df = df[df['County_Code_Origin'] != df['County_Code_Dest']]


    #aggregate outflows using groupby
    inflows=df.groupby(['County_Code_Dest']).sum()
    inflows=inflows.drop(columns=['County_Code_Origin','State_Code_Origin','State_Code_Dest'])

    return inflows

In [279]:
inflow1011 = process_irs_inflow(pd.read_csv("/Users/kaitlynhom/Downloads/migration_project/county_data/county1011/countyinflow1011.csv",encoding="cp1252"))
inflow0910 = process_irs_inflow(pd.read_csv('/Users/kaitlynhom/Downloads/migration_project/county_data/county0910/countyinflow0910.csv',encoding="cp1252"))
inflow0809 = process_irs_inflow(pd.read_csv("/Users/kaitlynhom/Downloads/migration_project/county_data/county0809/countyinflow0809.csv",encoding="cp1252"))

In [280]:
inflow0809

                  Return_Num  Exmpt_Num  Aggr_AGI
County_Code_Dest
1                      20944      38523   1248508
13                     13940      27784    940763
41                      3253       5593    337651
47                      1975       4987     71291
55                      1633       3302     99871
69                       641       1554     31943
75                     13732      19280    845264
77                      6570      15234    331802
81                     12188      22084    900107
85                     13073      24558    904235
87                      1905       3195    123434
95                      4438       8801    213767
97                      3235       5204    208513
99                      4515      10421    173589

In [281]:
inflow0708 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0708/co0708iCa.xls'))
inflow0607 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0607/co0607Cai.xls'))
inflow0506 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0506/co0506Cai.xls'))
inflow0405 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0405/co0405Cai.xls'))
inflow0304 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0304/co0304Cai.xls'))
inflow0203 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0203/co203cai.xls'))
inflow0102 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0102/co102cai.xls'))
inflow0001 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county0001/co001cair.xls'))
inflow9900 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9900/co990Cai.xls'))
inflow9899 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9899/co989Cai.xls'))
inflow9798 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9798/co978cai.xls'))
inflow9697 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9697/co967cai.xls'))
inflow9596 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9596/co956cair.xls'))
inflow9495 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9495/co945cai.xls'))
inflow9293 = process_irs_outflow_xls(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9293/C9293Cai.xls'))

In [282]:
inflow9394 = process_irs_outflow_xls93(pd.read_excel('/Users/kaitlynhom/Downloads/migration_project/county_data/county9394/co934cai.xls'))

In [283]:
totalinflows = pd.DataFrame()
totalinflows['Origin Code']=code_list
totalinflows['Name'] = name_list

In [284]:
totalinflows['1992-1993'] = inflow9293['Aggr_AGI'].values
totalinflows['1993-1994'] = inflow9394['Aggr_AGI'].values
totalinflows['1994-1995'] = inflow9495['Aggr_AGI'].values
totalinflows['1995-1996'] = inflow9596['Aggr_AGI'].values
totalinflows['1996-1997'] = inflow9697['Aggr_AGI'].values
totalinflows['1997-1998'] = inflow9798['Aggr_AGI'].values
totalinflows['1998-1999'] = inflow9899['Aggr_AGI'].values
totalinflows['1999-2000'] = inflow9900['Aggr_AGI'].values
totalinflows['2000-2001'] = inflow0001['Aggr_AGI'].values
totalinflows['2001-2002'] = inflow0102['Aggr_AGI'].values
totalinflows['2002-2003'] = inflow0203['Aggr_AGI'].values
totalinflows['2003-2004'] = inflow0304['Aggr_AGI'].values
totalinflows['2004-2005'] = inflow0405['Aggr_AGI'].values
totalinflows['2005-2006'] = inflow0506['Aggr_AGI'].values
totalinflows['2006-2007'] = inflow0607['Aggr_AGI'].values
totalinflows['2007-2008'] = inflow0708['Aggr_AGI'].values
totalinflows['2008-2009'] = inflow0809['Aggr_AGI'].values
totalinflows['2009-2010'] = inflow0910['Aggr_AGI'].values
totalinflows['2010-2011'] = inflow1011['Aggr_AGI'].values

In [285]:
totalinflows

,Origin Code,Name,1992-1993,1993-1994,1994-1995,1995-1996,1996-1997,1997-1998,1998-1999,1999-2000,...,2001-2002,2002-2003,2003-2004,2004-2005,2005-2006,2006-2007,2007-2008,2008-2009,2009-2010,2010-2011
0,1,Alameda County,633753,629450,647006,709795,830586,1036245,1119526,1522636,...,1310362,1194104,1191093,1195318,1263374,1128004,1241174,1248508,1228495,1260976
1,13,Contra Costa County,569519,509084,508835,525734,630786,708177,790424,919182,...,979695,939447,972079,1077313,922230,849858,1014636,940763,973724,931300
2,41,Marin County,218487,200567,204836,215045,230584,260669,307350,425305,...,357028,299457,318779,299471,328572,286306,302768,337651,268502,283483
3,47,Merced County,40830,44268,38990,35220,38993,47518,57522,67808,...,86971,74863,91393,90973,92096,78661,72405,71291,76199,65384
4,55,Napa County,53102,50195,50859,49154,86396,87403,82054,123738,...,139125,121788,115645,110717,117370,92798,97088,99871,94396,95818
5,69,San Benito County,23715,26437,28844,31078,43087,56232,65875,80629,...,50918,51114,42148,43324,30103,27754,27843,31943,39754,33225
6,75,San Francisco County,403620,408695,411799,450818,497879,582307,677640,838233,...,833011,783551,775151,822821,921251,856028,854368,845264,867805,887149
7,77,San Joaquin County,154880,146171,138666,136685,156567,185695,249817,308271,...,394669,401745,442564,426729,355229,308035,295763,331802,322202,285440
8,81,San Mateo County,507696,518481,510597,560715,678299,747705,921866,1236384,...,1026907,888762,915127,943870,891392,830007,973898,900107,917817,915901
9,85,Santa Clara County,455240,490106,475759,545175,614848,709462,843495,1102122,...,1002475,1001512,954959,1028763,1259961,958336,1004203,904235,958915,959814
10,87,Santa Cruz County,102140,88503,87508,106678,131619,178827,159704,201124,...,187988,136610,131200,162078,154463,130591,127477,123434,118185,109794
11,95,Solano County,150505,145549,133191,133375,143236,178546,230012,273959,...,298452,275360,262340,260969,273796,214174,205322,213767,230823,213267
12,97,Sonoma County,165208,160669,160731,161821,186505,211135,231124,325126,...,239300,238934,216492,217264,243735,241712,198688,208513,200450,192917
13,99,Stanislaus County,111155,99268,90917,89374,92410,110600,146355,179389,...,274454,219872,205865,239828,245107,193508,164695,173589,168544,155602

In [286]:
totalinflows.to_csv("/Users/kaitlynhom/Downloads/migration_project/aggregatedinflowsincome.csv")

In [287]:
inflows=totalinflows
outflows=totaloutflows

In [288]:
outflows

,Origin Code,Name,1992-1993,1993-1994,1994-1995,1995-1996,1996-1997,1997-1998,1998-1999,1999-2000,...,2001-2002,2002-2003,2003-2004,2004-2005,2005-2006,2006-2007,2007-2008,2008-2009,2009-2010,2010-2011
0,1,Alameda County,740785,707663,687231,721904,829595,968296,1106508,1321575,...,1488858,1377971,1392354,1505895,1367854,1269253,1318842,1217228,1329521,1295662
1,13,Contra Costa County,395614,393280,377245,407939,443975,544735,585738,842680,...,666518,715666,663861,671556,720431,637842,631415,653418,630386,675487
2,41,Marin County,155528,161975,163175,172467,192186,222931,253602,286877,...,250955,247068,250720,253402,278544,224555,223870,212713,203260,208182
3,47,Merced County,26603,25611,27329,28191,31561,36042,40407,44485,...,45939,49306,57583,69314,68502,66184,76950,80594,73264,66539
4,55,Napa County,36287,34907,36127,33568,44268,53844,66837,86140,...,68827,73630,85046,85506,84321,75572,68569,79632,79457,78909
5,69,San Benito County,11972,11939,11415,13477,12970,19409,23971,29301,...,32442,33761,41363,41800,42483,28199,28964,29602,28375,28630
6,75,San Francisco County,698328,656769,661711,657029,773711,869213,1000695,1397182,...,1309866,1189618,1191466,1186767,1292606,1086549,1200301,1227997,1234028,1204828
7,77,San Joaquin County,85083,88139,86910,95560,105092,109434,121310,136605,...,153234,163888,185924,225269,231126,228899,258721,275762,237346,233403
8,81,San Mateo County,486628,474568,477418,519439,623049,721155,841771,1144105,...,1018442,970577,956586,1000665,1080457,862924,883217,829334,875687,826100
9,85,Santa Clara County,624302,616628,621016,733024,917044,1123365,1358535,1773780,...,1588709,1238318,1197670,1244667,1285158,1103667,1235813,1170821,1175551,1174605
10,87,Santa Cruz County,74491,86677,71565,84484,93723,105637,110169,130625,...,118590,115575,131796,128944,145758,112794,111411,106162,92241,100713
11,95,Solano County,109849,105501,108323,108312,111634,122042,132506,144584,...,177848,184277,188205,199216,193228,183614,207484,212157,202259,196056
12,97,Sonoma County,73494,76465,79476,95043,94270,116588,143474,163381,...,147395,144064,147498,156866,153107,159816,147858,139783,132294,135551
13,99,Stanislaus County,70886,77321,79597,80230,88717,87830,97241,102586,...,113732,123400,144763,149571,155104,155904,186913,195535,172142,165405

In [289]:
inflows=inflows.drop(columns=['Origin Code', 'Name'])
outflows=outflows.drop(columns=['Origin Code', 'Name'])

In [290]:
outflows

,1992-1993,1993-1994,1994-1995,1995-1996,1996-1997,1997-1998,1998-1999,1999-2000,2000-2001,2001-2002,2002-2003,2003-2004,2004-2005,2005-2006,2006-2007,2007-2008,2008-2009,2009-2010,2010-2011
0,740785,707663,687231,721904,829595,968296,1106508,1321575,1769308,1488858,1377971,1392354,1505895,1367854,1269253,1318842,1217228,1329521,1295662
1,395614,393280,377245,407939,443975,544735,585738,842680,734022,666518,715666,663861,671556,720431,637842,631415,653418,630386,675487
2,155528,161975,163175,172467,192186,222931,253602,286877,367372,250955,247068,250720,253402,278544,224555,223870,212713,203260,208182
3,26603,25611,27329,28191,31561,36042,40407,44485,42813,45939,49306,57583,69314,68502,66184,76950,80594,73264,66539
4,36287,34907,36127,33568,44268,53844,66837,86140,62224,68827,73630,85046,85506,84321,75572,68569,79632,79457,78909
5,11972,11939,11415,13477,12970,19409,23971,29301,31489,32442,33761,41363,41800,42483,28199,28964,29602,28375,28630
6,698328,656769,661711,657029,773711,869213,1000695,1397182,1502389,1309866,1189618,1191466,1186767,1292606,1086549,1200301,1227997,1234028,1204828
7,85083,88139,86910,95560,105092,109434,121310,136605,164077,153234,163888,185924,225269,231126,228899,258721,275762,237346,233403
8,486628,474568,477418,519439,623049,721155,841771,1144105,1299820,1018442,970577,956586,1000665,1080457,862924,883217,829334,875687,826100
9,624302,616628,621016,733024,917044,1123365,1358535,1773780,2601556,1588709,1238318,1197670,1244667,1285158,1103667,1235813,1170821,1175551,1174605
10,74491,86677,71565,84484,93723,105637,110169,130625,181634,118590,115575,131796,128944,145758,112794,111411,106162,92241,100713
11,109849,105501,108323,108312,111634,122042,132506,144584,186721,177848,184277,188205,199216,193228,183614,207484,212157,202259,196056
12,73494,76465,79476,95043,94270,116588,143474,163381,177484,147395,144064,147498,156866,153107,159816,147858,139783,132294,135551
13,70886,77321,79597,80230,88717,87830,97241,102586,110059,113732,123400,144763,149571,155104,155904,186913,195535,172142,165405

In [291]:
# calculate basic migration efficiency using Sturtevant paper formula
basicefficiency = (inflows.values - outflows.values)/(inflows.values + outflows.values)*100
basicefficiency = pd.DataFrame(data=basicefficiency)


# insert years
yearslist = list(outflows.columns.values)

#set row and column headers
basicefficiency.insert(0, "fips", fips_list)
basicefficiency.set_index("fips", inplace = True)
basicefficiency.columns = yearslist

In [292]:
basicefficiency

,1992-1993,1993-1994,1994-1995,1995-1996,1996-1997,1997-1998,1998-1999,1999-2000,2000-2001,2001-2002,2002-2003,2003-2004,2004-2005,2005-2006,2006-2007,2007-2008,2008-2009,2009-2010,2010-2011
fips,,,,,,,,,,,,,,,,,,,
6001,-7.786762,-5.849393,-3.014832,-0.845778,0.059692,3.389754,0.584807,7.069131,-2.317383,-6.376633,-7.148586,-7.790406,-11.497686,-3.970770,-5.892109,-3.033887,1.268587,-3.949389,-1.356704
6013,18.018760,12.833402,14.850804,12.616301,17.381632,13.044970,14.873685,4.342111,28.349616,19.024087,13.520587,18.840422,23.201109,12.284884,14.251260,23.281235,18.024616,21.403644,15.920779
6041,16.833282,10.644836,11.320586,10.987531,9.082480,7.803557,9.581568,19.437166,9.287056,17.446705,9.585838,11.950679,8.332655,8.240270,12.087632,14.981448,22.700976,13.829431,15.315510
6047,21.097979,26.699008,17.583196,11.084828,10.533776,13.733844,17.476948,20.769772,37.362565,30.872019,20.582432,22.694931,13.512637,14.691341,8.614036,-3.043085,-6.125029,1.963697,-0.875511
6055,18.811039,17.964325,16.936059,18.841421,32.241474,23.759089,10.220228,17.914217,41.149043,33.804917,24.643585,15.246822,12.848137,16.385957,10.231039,17.215693,11.275020,8.592892,9.677382
6069,32.905540,37.778820,43.292183,39.503984,53.725672,48.681271,46.639806,46.691531,47.564215,22.164107,20.445361,0.939996,1.790329,-17.055631,-0.795310,-1.973348,3.803721,16.702139,7.428664
6075,-26.744275,-23.283189,-23.279895,-18.613671,-21.691898,-19.765901,-19.248541,-25.004261,-18.088716,-22.253027,-20.579433,-21.169094,-18.110478,-16.774119,-11.866763,-16.836434,-18.460435,-17.423982,-15.185588
6077,29.086568,24.767189,22.943930,17.707593,19.672551,25.839887,34.626152,38.587382,47.822119,44.065282,42.051472,40.834511,30.898868,21.165164,14.738497,6.680445,9.223720,15.165098,10.029431
6081,2.118826,4.422038,3.358147,3.821307,4.245598,1.807524,4.541467,3.876472,-0.899018,0.413866,-4.400220,-2.215030,-2.920750,-9.588209,-1.944379,4.882896,4.092247,2.349033,5.155049
6085,-15.660530,-11.432015,-13.244011,-14.696381,-19.726978,-22.582764,-23.389327,-23.354690,-29.283771,-22.624175,-10.572499,-11.275097,-9.496840,-0.990013,-7.048050,-10.339658,-12.847171,-10.149424,-10.063207
6087,15.653538,1.042356,10.022443,11.610048,16.817105,25.729091,18.354930,21.250705,15.545781,22.636327,8.341099,-0.226619,11.385394,2.899531,7.312283,6.725327,7.522779,12.329275,4.313871
6095,15.615662,15.952201,10.296712,10.370024,12.399262,18.797823,26.896871,30.910802,24.046673,25.321016,19.816290,16.454516,13.419168,17.251362,7.682484,-0.523733,0.378002,6.595518,4.204748
6097,38.421965,35.509037,33.827074,25.997415,32.850147,28.849669,23.398416,33.110068,41.261875,23.766793,24.770364,18.954916,16.143586,22.837300,20.396087,14.667605,19.733215,20.483014,17.464715
6099,22.120841,12.428294,6.638751,5.391382,2.038901,11.475079,20.162072,27.237521,41.416378,41.403348,28.103661,17.426446,23.178539,22.488887,10.762080,-6.318969,-5.945428,-1.056104,-3.053827

In [293]:
basicefficiency.to_csv("/Users/kaitlynhom/Downloads/migration_project/incomeefficiency.csv")